<div>
  <div>
    <label>Ingrese su mensaje</label>
    <input type="text" id="text-input" name="text-input" />
  </div>
  <div id="received-text-input"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>